---
import BaseLayout from "../layout/BaseLayout.astro"

const title = "FAQ: Preguntas y respuestas frecuentes"
const description = "Si tienes una pregunta concreta"
---

<BaseLayout title={title} description={description} >
	<h1>FAQ</h1>
</BaseLayout>
