---
import BaseLayout from "../layout/BaseLayout.astro"

const title = "Portfolio de Yorch Dev"
const description = "Si tienes una pregunta concreta"
---

<BaseLayout title={title} description={description} >
	<h1>portfolio</h1>
</BaseLayout>